name: Executar Geradores

on:
  push:
    branches:
      - main 
  pull_request:
    branches:
      - main 

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Verificar código
        uses: actions/checkout@v3

      - name: Definir permissões de execução
        run: |
          chmod +x code/PRNG2_m32_l8
          chmod +x code/PRNG_m64_l8
          chmod +x code/PRNGm64_l16

      - name: Listar arquivos compilados
        run: |
          echo "Arquivos na pasta code:"
          ls -l code/

      - name: Executar os programas
        run: |
          echo "Executando os scripts PRNG..."
          ./code/PRNG2_m32_l8
          ./code/PRNG_m64_l8
          ./code/PRNGm64_l16
